@base-background: #1f333d;
@page-background: #2f424d;
@font-color: #cecece;
@sub-font-color: #aeaeae;
@place-font-color: #939393;
@primary-color: #00d2ff;
@shadow-base: 0 2px 8px rgba(255, 255, 255, 0.158);
@success: #67c23a;
@warning: #e6a23c;
@danger: #f56c6c;
@info: #909399;