@import './color.less';
// @import './fix-element.less';

.page {
  width: 100%;
  // height: 100%;
  height: calc(100vh - 70px);
  // padding-top: 20px;
  // background-color: @page-background;
  .liner-gradient;
  padding: 10px;
  box-sizing: border-box;
}
.page-home {
  width: 100%;
  // height: 100%;
  height: calc(100vh - 70px);
  // padding-top: 20px;
  // background-color: @page-background;
  .liner-gradient;
  padding: 10px;
  box-sizing: border-box;
}
.el-table__header{
  width: 100% !important;
}
.el-table__body{
  width: 100% !important;
}

.custom-tooltip {
  border: none;
  box-shadow: none;
  background: none;
  color: #fff;
  height: 120px;
  // background: rgba(255, 0, 0, 0.199);
  &::before {
    display: none;
  }
}
.tooltip-vin {
  // font-size: 6px;
  color: #fff;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  padding: 5px;
}
.tooltip-power {
  // font-size: 6px;
  color: #fff;
  font-weight: bold;
  // margin-top: 15px;
  height: 50px;
  line-height: 50px;
  padding: 5px;
}

.big {
  font-size: 1.3rem;
}

// .marker-popup {
//   background: @base-background !important;
//   color: @font-color !important;
// }
// .leaflet-popup-content-wrapper {
//   background: @info !important;
//   color: @white !important;
//   // border: .5px solid @font-color;
// }
// .leaflet-popup-tip {
//   background: @info !important;
//   color: @white !important;
// }
/*css主要部分的样式*/
/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
  width: 10px; /*对垂直流动条有效*/
  height: 10px; /*对水平流动条有效*/
}
  
/*定义滚动条的轨道颜色、内阴影及圆角*/
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: @page-background;
  border-radius: 3px;
}


/*定义滑块颜色、内阴影及圆角*/
::-webkit-scrollbar-thumb{
border-radius: 7px;
box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: @base-background;
}
.el-table {
  // border-radius: 10px;
  // box-shadow: @shadow-base;
}

.font-3rem {
  font-size: 3rem;
}

.el-timeline-item__content {
  color: #adacac !important;
}

.search-box {
  background: @base-background;
  margin: 15px 0;
  padding: 8px;
  text-align: left;
  border-radius: 5px;
  // box-shadow: @shadow-base;
  display: flex;
}
.el-range-input {
  background-color: @base-background;
}
.marker-circle {
  background: rgba(11, 99, 139, 0.842);
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  line-height: 50px;
  font-size: 1.2rem;
  z-index: 9999;
  position: relative;
  left: -25px;
  top: -25px;
}
.custom-bg {
  background: @base-background !important;
  box-sizing: border-box !important;
}
.introjs-tooltip {
  background-color: @base-background !important;
  color: #fff;
  padding-top: 20px !important;
}
.introjs-tooltipReferenceLayer {
  box-sizing: border-box !important;
}

.el-carousel__container {
  min-height: 240px;
  height: 100% !important;
}
.normal {
  color: @primary-color;
}
.warn {
  color: @warning;
}
.error {
  color: @danger;
}
.success {
  color: @primary-color;
}

.leaflet-container {
  background: rgba(255, 255, 255, 0);
}

.header-cell {
  text-align: center;
  border: 1px solid #eee;
  border-left: none;
  border-top: none;
  color: #fff;
}
.cell-table {
  border: 1px solid #eee;
  box-sizing: border-box;
  border-left: none;
}

.item-row-1-3 {
  grid-row-start: 1;
  grid-row-end: 3;
}
.item-row-1-4 {
  grid-row-start: 1;
  grid-row-end: 4;
}
.item-row-1-5 {
  grid-row-start: 1;
  grid-row-end: 5;
}
.item-row-2-4 {
  grid-row-start: 2;
  grid-row-end: 4;
}
.item-row-2-5 {
  grid-row-start: 2;
  grid-row-end: 5;
}
.item-row-3-5 {
  grid-row-start: 3;
  grid-row-end: 5;
}


.item-col-1-3 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.item-col-1-4 {
  grid-column-start: 1;
  grid-column-end: 4;
}
.item-col-1-5 {
  grid-column-start: 1;
  grid-column-end: 5;
}
.item-col-2-4 {
  grid-column-start: 2;
  grid-column-end: 4;
}
.item-col-2-5 {
  grid-column-start: 2;
  grid-column-end: 5;
}
.item-col-3-5 {
  grid-column-start: 3;
  grid-column-end: 5;
}
